@model List<Draw>
@{
    ViewData["Title"] = "LastTen";
}


<h2 style="text-align:center">Δέκα τελευταίες κληρώσεις</h2>
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Αριθμός Κλήρωσης</th>
                <th>Ημερομηνία Κλήρωσης</th>
                <th>1ος Αριθμός</th>
                <th>2ος Αριθμός</th>
                <th>3ος Αριθμός</th>
                <th>4ος Αριθμός</th>
                <th>5ος Αριθμός</th>
                <th>Τζόκερ</th>
                <th>Τζακπότ</th>
            </tr>
        </thead>
        <tbody>
            @for(var i=0;i<10;i++)
            {
                <tr>
                    <td>@Model[i].DrawNumber</td>
                    <td>@Model[i].DrawDate</td>
                    <td>@Model[i].Number1</td>
                    <td>@Model[i].Number2</td>
                    <td>@Model[i].Number3</td>
                    <td>@Model[i].Number4</td>
                    <td>@Model[i].Number5</td>
                    <td>@Model[i].Joker</td>
                    <td>@Model[i].Jackpot</td>
                </tr>
            }
        </tbody>
    </table>
</div>



